<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Template &middot; Bootstrap</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{ static_url("assets/bootstrap/css/bootstrap-responsive.css") }}" rel="stylesheet">
    <link href="{{ static_url("assets/bootstrap/css/bootstrap.css") }}" rel="stylesheet">
    <link href="{{ static_url("assets/bootstrap/css/custom.css") }}" rel="stylesheet">

    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/themes/smoothness/jquery-ui.css" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.3.0/jquery.min.js"></script>
    <script src="http://jquery-json.googlecode.com/files/jquery.json-2.2.min.js"></script>
    <script src="http://jquery-websocket.googlecode.com/files/jquery.websocket-0.0.1.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>

    <script src="{{ static_url("assets/bootstrap/js/bootstrap.min.js") }}"></script>
    <script src="{{ static_url("assets/js/logix.js") }}" ></script>

    
  </head>

  <body>

<div class="container">
<div class="page-header">
        <h1>groovyPy</h1>
</div>
<div class="row-fluid marketing" >

        <div class="span8" style="height: 400px; border: gray 1pt solid;">
          <h4>Library</h4>
               <div  class="library_container" style="overflow: auto; border-top:grey 1pt solid; height:350px; margin-bottom:20px;">
                {% for i, k in dict(x).items() %}
                  <div class="localmus dragsearch" style="margin-bottom:10px;">
                    <input type="hidden" value="{{i}}" />
                    <h4>{{k}}</h4>
                  </div>
                {% end %}
               </div>
        </div>

        <div class="span4" style="height: 300px; border: gray 1pt solid;">
          <h4>playlist</h4>
          <div  class="dropme" id="playlist" style="overflow: auto; border-top:grey 1pt solid; height:250px; margin-bottom:20px;"></div>
        </div>
        
        <div class="span4" style="height: 180px; border: gray 1pt solid; margin-top:20px;">
          <h4>Recently Played</h4>
          <div id="recently_played" style="overflow: auto; border-top:grey 1pt solid; height:130px; margin-bottom:20px;"></div>
        </div>




</div>
<div class="row-fluid marketing" >
        <div class="span8" style="height: 580px; border: gray 1pt solid; ">
          <h4>Search Results<input id="search_box" type="text"/></h4>
            <div  class="searchresult_container contain" style="overflow: auto; border-top:grey 1pt solid; height:530px; margin-bottom:20px;">
            <h4>Local Library</h4>
            <div  class="localmus dragsearch searchable " id="div0"><input  type="hidden" value="" ><h4></h4></div>
            <div  class="localmus dragsearch searchable" id="div1"><input  type="hidden" value="" ><h4></h4></div>
            <div  class="localmus dragsearch searchable" id="div2"><input  type="hidden" value="" ><h4></h4></div>
            <div  class="localmus dragsearch searchable" id="div3"><input  type="hidden" value="" ><h4></h4></div>
            <div  class="localmus dragsearch searchable" id="div4"><input  type="hidden" value="" ><h4></h4></div>
            <h4>Groove Shark</h4>
            <div  class="localmus dragsearch searchable" id="div15"><input  type="hidden" value="" ><h4></h4></div>
            <div  class="localmus dragsearch searchable" id="div16"><input  type="hidden" value="" ><h4></h4></div>
            <div  class="localmus dragsearch searchable" id="div17"><input  type="hidden" value="" ><h4></h4></div>
            <div  class="localmus dragsearch searchable" id="div18"><input  type="hidden" value="" ><h4></h4></div>
            <div  class="localmus dragsearch searchable" id="div19"><input  type="hidden" value="" ><h4></h4></div>
            <div  class="localmus dragsearch searchable" id="div20"><input  type="hidden" value="" ><h4></h4></div>
            <div  class="localmus dragsearch searchable" id="div21"><input  type="hidden" value="" ><h4></h4></div>
            <div  class="localmus dragsearch searchable" id="div22"><input  type="hidden" value="" ><h4></h4></div>
            <div  class="localmus dragsearch searchable" id="div23"><input  type="hidden" value="" ><h4></h4></div>
            <div  class="localmus dragsearch searchable" id="div24"><input  type="hidden" value="" ><h4></h4></div>
            <h4>Sound Cloud</h4>
            <div  class="localmus dragsearch searchable" id="div5"><input  type="hidden" value="" ><h4></h4></div>
            <div  class="localmus dragsearch searchable" id="div6"><input  type="hidden" value="" ><h4></h4></div>
            <div  class="localmus dragsearch searchable" id="div7"><input  type="hidden" value="" ><h4></h4></div>
            <div  class="localmus dragsearch searchable" id="div8"><input  type="hidden" value="" ><h4></h4></div>
            <div  class="localmus dragsearch searchable" id="div9"><input  type="hidden" value="" ><h4></h4></div>
            <div  class="localmus dragsearch searchable" id="div10"><input  type="hidden" value="" ><h4></h4></div>
            <div  class="localmus dragsearch searchable" id="div11"><input  type="hidden" value="" ><h4></h4></div>
            <div  class="localmus dragsearch searchable" id="div12"><input  type="hidden" value="" ><h4></h4></div>
            <div  class="localmus dragsearch searchable" id="div13"><input  type="hidden" value="" ><h4></h4></div>
            <div  class="localmus dragsearch searchable" id="div14"><input  type="hidden" value="" ><h4></h4></div>
           
          </div>
        </div>

        <div class="span4" style="height: 180px; border: gray 1pt solid; margin-top:20px;">
          <h4>Controls</h4>
          <div id="controls">
           
            <button id="test">Test</button>
            <button id="next">Next</button>
            <input id="pause"  type="submit" value="pause"/>
            <br />
            <strong>Now Playing:  <p id="nowplaying"></p></strong>
              <span class="tooltip"></span>   
              <div id="slider"></div>  
              <span class="volume"></span> 
            </div>
            
        </div>
        

        


</div>





  </body>
    



</html>
